<app-topnav></app-topnav>

<ion-content class="ion-padding">
  <div class="homepage-container d-flex flex-column align-items-center pb-3">
    <img class="event-img" src="https://s3-media3.fl.yelpcdn.com/bphoto/QtmdWh2QQc_ayLAMmLBwOg/o.jpg">
  </div>

  <ion-title class="pl-0 pb-3 font-weight-bold">INNOVATION EXHIBITION</ion-title>

  <!--
    <ion-button (click)="presentActionSheet()">
      Click me!
    </ion-button> 
  -->

  <div class="event-details">
    <div class="event-desc d-flex mb-3">
      <div><ion-icon name="document-text-sharp" class="mr-3" color="info"></ion-icon></div>
      <div class="align-self-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatibus culpa quis eveniet similique reprehenderit dignissimos minus eligendi...
        <a href="#">Read more</a>
      </div>
    </div>

    <div class="event-location d-flex mb-3">
      <div><ion-icon name="location-sharp" class="mr-3" color="info"></ion-icon></div>
      <div class="align-self-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, neque! Beatae, similique!
      </div>
    </div>

    <div class="event-date d-flex mb-3">
      <div><ion-icon name="today-sharp" class="mr-3" color="info"></ion-icon></div>
      <div class="align-self-start">
        7th - 11th February 2022
      </div>
    </div>

    <div class="event-time d-flex mb-3">
      <div><ion-icon name="time-sharp" class="mr-3" color="info"></ion-icon></div>
      <div class="align-self-start">
        10:00p.m. - 5:00p.m. (UTC+0800)
      </div>
    </div>

    <div class="event-booth-num d-flex">
      <div><ion-icon name="footsteps-sharp" class="mr-3" color="info"></ion-icon></div>
      <div class="align-self-start">
        Total booth: 36
      </div>
    </div>

    <!-- <ion-list>
      <ion-item *ngFor="let judge of j" (click)="openJudge(j)">
        <ion-label>
          {{ judge.name }}
        </ion-label>
      </ion-item>
    </ion-list> -->

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addJudge()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>
</ion-content>
