<app-topnav-backbtn></app-topnav-backbtn>

<ion-content class="ion-padding">
  <ion-title class="pl-0 fw-bold">Edit Profile</ion-title>

  <form class="edit-profile-container" #profileForm="ngForm" (ngSubmit)="updateProfile()" *ngIf="currentJudge">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input value="{{ currentJudge.name }}" disabled="true"></ion-input>
    </ion-item>  

    <div class="profile-details">
      <ion-item>
        <ion-label position="stacked">Contact number</ion-label>
        <ion-input [(ngModel)]="judge.contactnum" name="contactnum" value="{{ currentJudge.contactnum }}" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Email address</ion-label>
        <ion-input [(ngModel)]="judge.email" name="email" value="{{ currentJudge.email }}" required></ion-input>
      </ion-item>

      <div class="save-profile-button mt-3">
        <ion-button expand="block" type="submit" [disabled]="!profileForm.valid" color="success">Save changes</ion-button>
      </div>

      <div class="cancel-button mt-3">
        <ion-button expand="block" routerLink="/profile" color="danger">Cancel</ion-button>
      </div>
    </div>
  </form>
</ion-content>
