<app-topnav></app-topnav>

<ion-content class="ion-padding">
  <div *ngFor="let judgeBooth of judgeBoothsWithBooths">
    <ion-card 
      *ngIf="judgeBooth.judge_id === currentJudge.id"
      [color]="judgeBooth.booth.available ? 'available' : 'busy'"
      [routerLink]="['/booth', judgeBooth.booth.id]">
      <ion-card-header>
        <div class="d-flex justify-content-between">
          <ion-card-title class="fw-bold">{{ judgeBooth.booth.name }}</ion-card-title>
          <ion-icon *ngIf="judgeBooth.evaluated" name="checkmark-circle-sharp">true</ion-icon>
          <ion-icon *ngIf="!judgeBooth.evaluated" name="alert-circle-sharp">false</ion-icon>
        </div>
        <ion-card-subtitle>{{ judgeBooth.booth.members }}</ion-card-subtitle>
      </ion-card-header>
    
      <!-- <ion-card-content>
        <a 
          *ngIf="!judgeBooth.booth.available"
          [ngStyle]="{
            'pointer-events': 'none',
            'color': 'gray' }"
          [attr.aria-disabled]="true"
          tabindex="-1">
          Not available at the moment
        </a>
        <a 
          *ngIf="judgeBooth.booth.available && !judgeBooth.evaluated"
          [routerLink]="['/booth', judgeBooth.booth.id]" 
          [ngStyle]="{
            'pointer-events': null,
            'color': 'default' }"
          [attr.aria-disabled]="!judgeBooth.booth.available"
          tabindex="0">
          Start evaluate >>
        </a>
        <a 
          *ngIf="judgeBooth.booth.available && judgeBooth.evaluated"
          [routerLink]="['/history']" 
          [ngStyle]="{ 'color': 'default' }"
          [attr.aria-disabled]="!judgeBooth.booth.available"
          tabindex="0">
          View history
        </a>
      </ion-card-content> -->
    </ion-card>
  </div>
</ion-content>
