ion-header {
    ion-toolbar {
        --background: #FAD20C;

        ion-icon {
            margin-right: 10px;
        }
    }
}

.maps {
    text-align: justify;
    margin-top: 25px;
}

#canvas-container {
    overflow-x: auto;

    #myCanvas{
        margin-top: 50px;
    }
}
