<body>
    <div class="Header">
        <h4 class="HeaderText">Pathfinder</h4>
        <button (click)="dijkstraSearch_A_star_variation()" class="myAlgorithm" [disabled]="disableButtons"> Dijkstra's Algorithm </button>
        <button (click)="bfs_Search()" class=" myAlgorithm" [disabled]="disableButtons">BFS Algorithm</button>
        <button (click)="a_star_search()" class="myAlgorithm" [disabled]="disableButtons"> A* Algorithm</button>

        <div class="dropdown">
            <button class="dropbtn" [disabled]="disableButtons">Sample Mazes</button>
            <div class="dropdown-content">
                <button id="cyberjaya" name="cyberjaya" (click)="sampleMaze('assets/cyberjaya.txt')" expand="full" class="myWalls">Cyberjaya</button>
                <!-- <button id="melaka" (click)="sampleMaze('assets/images/mainhall.txt')" expand="full" class="myWalls">Melaka Main Hall</button> -->
            </div>
        </div>
    </div>

    <div class="inputfield">
        <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-input id="from-input"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-input id="to-input"></ion-input>
        </ion-item>
    
        <ion-button expand="full" type="button" (click)="getDirection()">Get Direction</ion-button>
    </div>

    <canvas id="myCanvas" style="width: 900px; height: 400px; border: none;"></canvas>
</body>
