<app-topnav></app-topnav>

<ion-content class="ion-padding">
  <ion-title class="ps-0 fw-bold">History</ion-title>
  <ion-text>Booth evaluated: {{ evaluatedCount }}/{{ assignedCount }}</ion-text>

  <div *ngFor="let judgeBooth of judgeBoothsWithBooths">
    <ion-card *ngIf="evaluatedCount > 0 && judgeBooth.evaluated" class="mx-0" color="light">
      <ion-card-header>
        <ion-card-title class="fw-bold">{{ judgeBooth.booth.name }}</ion-card-title>
        <ion-card-subtitle>
          Score: total score
          <!-- Score: {{ judgeBooth.totalScore }} -->
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

    <!-- If no booth has been evaluated -->
    <div *ngIf="evaluatedCount <= 0">
      <ion-text class="ion-text-align-center">There is no history to display here.</ion-text>
    </div>
</ion-content>
