<app-topnav></app-topnav>

<ion-content class="ion-padding">
  <ion-title class="ps-0 fw-bold">History</ion-title>
  <ion-text>Booth evaluated: {{ evaluatedCount }}/{{ assignedCount }}</ion-text>

  <div *ngFor="let judgeBooth of judgeBoothsWithBooths">
    <ion-card *ngIf="evaluatedCount > 0 && judgeBooth.evaluated" class="mx-0" color="light" (click)="setOpen(true)">
      <ion-card-header>
        <ion-card-title class="fw-bold">{{ judgeBooth.booth.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Scoring modal -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Scoring</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
            reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
            dicta.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

    <!-- If no booth has been evaluated -->
    <div *ngIf="evaluatedCount <= 0">
      <ion-text class="ion-text-align-center">There is no history to display here.</ion-text>
    </div>
</ion-content>
