<app-topnav></app-topnav>

<ion-content class="ion-padding">
  <ion-title class="ps-0 mb-3 fw-bold">Profile</ion-title>
  <div class="profile-details" *ngIf="currentJudge">
    <div class="user-name d-flex mb-3">
      <div><ion-icon name="person-sharp" class="me-3" color="info"></ion-icon></div>
      <div class="align-self-start">{{ currentJudge.name }}</div>
    </div>

    <div class="user-email d-flex mb-3">
      <div><ion-icon name="mail-sharp" class="me-3" color="info"></ion-icon></div>
      <div class="align-self-start">{{ currentJudge.email }}</div>
    </div>

    <div class="user-hp-num d-flex mb-3">
      <div><ion-icon name="call-sharp" class="me-3" color="info"></ion-icon></div>
      <div class="align-self-start">{{ currentJudge.contactnum }}</div>
    </div>

    <div class="edit-profile-button">
      <ion-button fill="outline" expand="block" routerLink="/profile/edit">Edit profile</ion-button>
    </div>
  </div>
</ion-content>
